@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
img
{
    width: 100%;
}
.item
{
height: 550px;
    
}
#article-span
{
       display: block;
position: absolute;
    bottom: 10px;
    width: 100%;
  
    text-align: center;
    font-size: 45px;
    background: rgba(0,0,0,0.9);
 font-weight: 500;
    font-family: Arial,sans-serif;
    color: #D75C37  ;
    
   
}
.bigbox,.smallbox
{
    background-color:white;
    margin: -10px;
    margin-bottom: 20px;
    padding: 10px;
    
}
.bigbox a img
{
    ;
}
.bigbox a
{
      font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.bigbox a:hover{
  font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #337ab7;
    font-weight: 500;
}


.smallbox a
{
      font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.smallbox a:hover{
  font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #337ab7;
    font-weight: 600;
}