@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
img
{
    width: 100%;
}
.item
{
height: 550px;
    
}
#article-span
{
       display: block;
position: absolute;
    bottom: 10px;
    width: 100%;
  
    text-align: center;
    font-size: 45px;
    background: rgba(0,0,0,0.9);
 font-weight: 500;
    font-family: Arial,sans-serif;
    color: #D75C37  ;
    
   
}
.bigbox,.smallbox
{
    background-color:white;
    margin: -10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px #888888;
    
}
.bigbox a img
{
    ;
}
.bigbox a
{
      font-family: "Open Sans script=all rev=1";
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-style: normal;
    
}
.bigbox a:hover{
  font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #337ab7;
    font-weight: 500;
}


.smallbox a
{
      font-family: "Open Sans script=all rev=1";
    font-size: 19px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-style: normal;
  
}
.smallbox a:hover{
  font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #337ab7;
    font-weight: 600;
}
.big-box
{
    position: relative;
    width: 100%;
    color: white;
}
h2
{
    position: absolute;
    top: 75%;
    left: 0px;
    width: 100%;
    
}
h2 span { 
   color: white; 
   font: bold 30pxx/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background-color:  #033d3d;/* fallback color */
  
   padding-left: 10px;
   padding-right: 10px;
padding-top: 1px;
padding-bottom: 1px;
}
.small-box
{

    position: relative;
    width: 100%;
    color: white;
}
h3
{
    position: absolute;
    top: 55%;
    left: 0px;
    width: 100%;
    
}
h3 span { 
   color: white; 
   font: bold 22px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background-color:  #033d3d;/* fallback color */
  
   padding-left: 10px;
   padding-right: 10px;
padding-top: 1px;
padding-bottom: 1px;


}
