/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.navbar-brand {
  padding: 0px;
    padding-left: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}








.example6 .navbar-brand{ 
  background: url("/images/newlogored.jpg") center / contain no-repeat;
  width: 200px;
}









.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}





/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}

.navbar-inverse .navbar-nav>li>a
{
   font-family: 'Fjalla One',sans-serif;
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover
{
   font-family: 'Fjalla One',sans-serif;
    color: white;
    background-color: #6991AC;
}
.navbar
{
    background-color: #D75C37;

    border-style: none;
}

.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}

body {
background-color:  #ebebeb;
    overflow-x:hidden;
}

.navbar-inverse .navbar-nav .active
{
   font-family: 'Fjalla One',sans-serif;
    color: white;
    background-color: #6991AC;
}




