<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>ABOUT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/Project.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta name="google-signin-client_id" content="636222690890-s7qdqru8kkk7v349r333i74q2a01btk5.apps.googleusercontent.com">

    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
            document.getElementById('signoutbox').style.visibility = "visible";
            document.getElementById('namebox').style.visibility = "visible";
            x = profile.getName();
            y = x.toUpperCase();
            document.getElementById('namebox').value = y;
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {

                console.log('User signed out.');
                document.getElementById('signoutbox').style.visibility = "hidden";
                document.getElementById('namebox').style.visibility = "hidden";
            });
        }
    </script>
    <script>
        function dev() {
            document.getElementById("developers").style.visibility = "visible";
            document.getElementById("writers").style.visibility = "hidden";
        }

        function writers() {
            document.getElementById("developers").style.visibility = "hidden";
            document.getElementById("writers").style.visibility = "visible";
        }

        function rahul() {
            document.getElementById("i").src = "/images/rahul.jpg";
        }

        function hari() {
            document.getElementById("i").src = "/images/hari.jpg";
        }

        function theja() {
            document.getElementById("i").src = "/images/theja.jpg";
        }
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>

    {% include 'navbar.html' %}





    <div class="container">
        <div class="col-lg-12">

            <div id="fb-root"></div>


            <br>

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <center>
                    <button class="button1" onclick="dev()">Developers</button>

                    <button class="button1" onclick="writers()">Writers</button>
                    </td>


                    <br>
                    <br>
                    <div id="developers">
                        <button class="button1" onclick="rahul()">Rahul</button>

                        <button class="button1" onclick="hari()">Hari</button>

                        <button class="button1" onclick="theja()">Theja</button>

                    </div>
                    <div id="writers">
                        <button class="button1" onclick="rahul()">Rahul</button>

                        <button class="button1" onclick="hari()">Pish</button>


                    </div>


                    <br>
                    <br>
                    <br>
                    <div class="col-md-3"></div>
                    <div class="col-md-6 imgaboutpage">
                        <img id="i" src="/images/logosquare.jpg"></div>
                </center>
            </div>
        </div>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn" style="visibility: hidden"></div>
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>