<html>

<head>
    
        <link href="styles/css/bootstrap.min.css" rel="stylesheet">
        <link href = "styles/css/aboutus.css" rel="stylesheet">
<title>About us</title>


    </head> 
    <body>
    
{% include 'navigationbar.html' %}
        
  <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305410/rahul_fz7jhh.jpg" alt="">
                <h3>Rahul Kamath
                    <small>Developer/Writer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305518/theja_pr79hr.jpg" alt="">
                <h3>Sree Theja
                    <small>Developer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305410/hari_ky0wwx.jpg" alt="">
                <h3>Hari A
                    <small>Developer/Writer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/c_scale,h_800,w_800/v1484305518/sameer_itrxee.jpg" alt="">
                <h3>Sameer Pasha
                    <small>Developer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305410/tarun_bjivrp.jpg" alt="">
                <h3>Tarun Srivatsan
                    <small>Writer LOL</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305829/anuj_eq0arb.jpg" alt="">
                <h3>Anuj Iyer
                    <small>Writer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305410/c46bebf5-1a46-401f-9f99-d4c7ab9810c8_fv5fru.jpg" alt="">
                <h3>Manish Choudary
                    <small>Developer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305410/sidjain_krzikg.jpg" alt="">
                <h3>Siddhant Jain
                    <small>Writer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Sameer Pasha
                    <small>Developer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>    </div>
      </div>    
  {% include 'footer.html' %}      
  </body>
</html>