<html>

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#008080" />
        <link href="styles/css/bootstrap.min.css" rel="stylesheet">
        <link href = "styles/css/aboutus.css" rel="stylesheet">
        
<title>About us</title>


    </head> 
    <body>
    
{% include 'navigationbar.html' %}
        
  <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small></small>
                </h1>
               <h4> <p>A group of football fanatics trying to communicate to the world in their favorite language Sarcasm</p></h4>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305410/rahul_fz7jhh.jpg" alt="">
                <h3>Rahul Kamath
                    <small>Developer/Writer</small>
                </h3>
                <p>The responsible one,cometh the hour Kamath the man.
</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305518/theja_pr79hr.jpg" alt="">
                <h3>Sree Theja
                    <small>Developer</small>
                </h3>
                <p>The  geeky one , backend developer.
</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305410/hari_ky0wwx.jpg" alt="">
                <h3>Hari A
                    <small>Developer/Writer</small>
                </h3>
                <p>The yolo one, he never walks alone.
</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1485196495/10984043_428776663957401_1671282273020702488_n_savxqd.jpg" alt="">
                <h3>Sameer Pasha
                    <small>Developer</small>
                </h3>
                <p>The foodie, eat sleep and repeat
</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305410/c46bebf5-1a46-401f-9f99-d4c7ab9810c8_fv5fru.jpg" alt="">
                <h3>Manish Choudary
                    <small>Writer</small>
                </h3>
                <p>The creative one, adds a trendy spin to everything.
                    
</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305829/anuj_eq0arb.jpg" alt="">
                <h3>Anuj Iyer
                    <small>Writer</small>
                </h3>
                <p>The small one ,food is love food is life
</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484305410/tarun_bjivrp.jpg" alt="">
                <h3>Tarun Srivatsan
                    <small>Writer</small>
                </h3>
                <p>The funny one, always manages to crack us up,not with his jokes,but with his style of writing.
</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1486621891/amish_pfeydu.png" alt="">
                <h3>Amish Sethi
                    <small>Writer</small>
                </h3>
                <p>The lazy one, not an active writer but manages to get the job done.
</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/the-sarcastic-footballer/image/upload/v1484393314/pp_xxel2m.jpg" alt="">
                <h3>Sachin Sourav Jha
                    <small>Writer</small>
                </h3>
                <p>The hardworking one, social media is his thing.</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
       
    </div>
    {% include 'footer2.html' %}  
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>    </div>
      </div> 
          
  {% include 'footer.html' %}    
 
  </body>
</html>