<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{data.picture}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{data.headline}}">
    <meta property="og:description" content="{{data.sideheadline}}">
    <meta property="og:site_name" content="sarcastic footballer">
    <meta property="fb:app_id" content="945733035525846">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/styles/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/css/articletemplate.css" rel="stylesheet">
    
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>

    <title>{{data.headline}}</title>




<script type="text/javascript">

function read_cookie(key)
{
    var result;
    return (result = new RegExp('(?:^|; )' + encodeURIComponent(key) + '=([^;]*)').exec(document.cookie)) ? (result[1]) : null;
}

function check()
{
  var temp = {{yes}}+{{no}};
if (read_cookie("vote") && temp!=0)
{
  document.getElementById('voteform').style.visibility = "hidden";
  document.getElementById('resultsbox').style.visibility = "visible";
     var colors_array= ["#007700", "#D75C37","#ffa500"];
  Morris.Donut({
    element: 'chartdiv',
       colors: colors_array,
    data: [
    {label: "Yes", value: {{yes}}},
    {label: "No", value: {{no}}}
  ],
        resize: true
});
}
}

 function sendserver(button){
    var value = button.value;
    /*if (document.getElementById('yes_form').checked)
        value = 1;
    else if (document.getElementById('no_form').checked)
        value =0;
    else
    {
        alert("please choose yes/no");
        window.location.reload();
      }*/
    document.getElementById('resultsbox').style.visibility = "visible";
    document.getElementById('voteform').style.visibility = "hidden";
    var xhr = new XMLHttpRequest();
    xhr.open('POST',window.location.href);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function(){
        console.log("sent to server");
        console.log('Received from server: ' + xhr.responseText);
        var ans = xhr.responseText;
        ans = ans.split(',');
        /*makechart();
        var data =[
            {
              "category": "YES",
              "column-1": ans[0]
            },
            {
              "category": "NO",
              "column-1": ans[1]
            }
          ]; 
        chart.dataProvider = data; 
        chart.validateData();*/
          var colors_array= ["#007700", "#D75C37","#ffa500"];
    Morris.Donut({
    element: 'chartdiv',
       colors: colors_array,   
    data: [
    {label: "Yes", value: parseInt(ans[0])},
    {label: "No", value: parseInt(ans[1])}
  ],
        resize: true
});
    };
    xhr.send('value=' + value);
  }
    

</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "00b5ee94-4370-40f4-90d2-90a976f79c5c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>

<body onload="check()">

    {% include 'navigationbar.html' %}
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=945733035525846";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<br>
    <div class="container-fluid">
  <div class ="article" itemscope itemtype="http://schema.org/Article">
  <div itemscope itemtype="http://schema.org/Organization" itemprop="publisher">
  <meta itemprop="name" content="Sarcastic Footballer">
  <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
  <meta itemprop="url" content="http://sarcasticfootballer.com/favicon.ico">
  </div>
  </div>
  <meta itemprop="mainEntityOfPage" content="{{url}}">
            <div class="row">
                <h1 class="article-headline" itemprop="headline">{{data.headline}}</h1>
                
            </div>
             <hr style= "border: 4px solid #008080;padding-left:0px;margin-left:-20px;">
               <div class = "row">
        <div class="col-lg-9">
          
            <div class="row box">
                <h4>
                <span itemprop="datePublished dateModified"><time datetime="{{data.created}}">{{data.created}}</time></span>
            
          |
                by  <span itemprop="author">{{data.author}}</span> |
 <span class="share-buttons">
  <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sarcasticfootballer.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="/images/Facebook.png"></a>
 <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.sarcasticfootballer.com&text=:%20http%3A%2F%2Fwww.sarcasticfootballer.com&via=sarcasticfutbal" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="/images/Twitter.png"></a>
  <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.sarcasticfootballer.com" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Google+" src="/images/Google+.png"></a>
 <a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fwww.sarcasticfootballer.com&t=&s=" target="_blank" title="Post to Tumblr" onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title)); return false;"><img alt="Post to Tumblr" src="/images/Tumblr.png"></a>
  <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.sarcasticfootballer.com&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img alt="Pin it" src="/images/Pinterest.png"></a></li>
  <a href="http://www.reddit.com/submit?url=http%3A%2F%2Fwww.sarcasticfootballer.com&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Submit to Reddit" src="/images/Reddit.png"></a>
 
 </span>
 
 </h4>
              </div>
            
            <br>
            
         
            <div class="row">
                <div class="fb-like" data-href="https://www.facebook.com/thesarcasticfootballer/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
               <br> <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                      <img itemprop="image url" class="article-img" src="{{data.picture}}" alt="Image not Found">
                      <meta itemprop="height" content="900">
                      <meta itemprop="width" content="1600">
                    </div>
            </div><br>
            <div class="row">
                <h2 class="article-sideheadline" itemprop="description">{{data.sideheadline}}</h2>
            </div>
            <br>
            <div class="row article-content"" itemprop="articleBody">
                {{data.content | safe}}
            </div><br>

            <div class="votingbox" id="voteform">
<h3>
                WAS THIS NEWS SARCASTIC?</h3>
                <br>
                <!--form-->

                    <button class="button" name="value" id="yes_form" value=1 onclick="sendserver(this)" required><span> YES</span>
                        <span class="glyphicon glyphicon-thumbs-up icon"></span>
                    </button>
                    <br>
                    <button class="button" name="value" id="no_form" value=0 required onclick="sendserver(this)"><span> NO</span>
                        <span class="glyphicon glyphicon-thumbs-down icon"></span>
                    </button>
                    <br>
                    <!--input type="button" class = "btn btn-default" value="VOTE NOW" onclick="sendserver()"-->
                <!--/form-->
            </div>


            <div class="resultsbox row" id="resultsbox" style="visibility:hidden">
                <h3>
                WAS THIS NEWS SARCASTIC?</h3>
                <div class="panel-body col-lg-12">
                                <div id="chartdiv"></div>
                                <div class="text-right">
                                    
                                </div>
                            </div>

    </div></div>
<!--{% for tag in data.tags %}
<br>{{tag}}<br>
{% endfor %}-->
        
      <div class ="col-lg-3">
            
            
           <span id = "divtag">Trending</span>								
<hr style= "border: 2px solid #033d3d;margin-top:5px;">
             {% for article in popular %}
              	<div class = "small-box" itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope>
									<meta itemprop="position" content="{{loop.index + 3}}" />

										<a itemprop="url" href ="/news/{{article.key().id()}}">

											<img itemprop="image" src = "{{article.picture}}"></a><span itemprop="name"><h3>{{article.headline}}</h3></span>

										</div> 
        {% endfor %}
            </div>
            </div>
        </div> 
        </div>
       
</body>
 {% include 'footer2.html' %}
 

</html>

