<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta name="google-signin-client_id" content="636222690890-s7qdqru8kkk7v349r333i74q2a01btk5.apps.googleusercontent.com">
        <meta name ="theme-color" content="#ffa500">
        <meta property="fb:pages" content="1029387337137487" />
        <!--link rel="stylesheet" type="text/css" href="/styles/Project.css" /-->
        <link rel="stylesheet" type="text/css" href="/styles/master.css" />
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
 <!-- font awesome -->       
<!--link rel="stylesheet" href="/styles/font-awesome.min.css"--> 
<script src="https://apis.google.com/js/platform.js">
        </script>
  <script>
  var googleUser = {};
  var startApp = function() {
    gapi.load('auth2', function(){
      // Retrieve the singleton for the GoogleAuth library and set up the client.
      auth2 = gapi.auth2.init({
        client_id: '636222690890-s7qdqru8kkk7v349r333i74q2a01btk5.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin',
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
      attachSignin(document.getElementById('customBtn'));
    });
  };

  function attachSignin(element) {
    console.log(element.id);
    auth2.attachClickHandler(element, {},
        function(googleUser) {
          onSignIn(googleUser);
        }, function(error) {
          alert(JSON.stringify(error, undefined, 2));
        });
  }
  
      function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
  var id_token = googleUser.getAuthResponse().id_token;
  document.getElementById('close').click();
  document.getElementById('modal').style.visibility = "hidden";
  document.getElementById('signoutbox').style.visibility = "visible";
  document.getElementById('namebox').style.visibility = "visible";  
  var x = profile.getName(); 
  var y= x.toUpperCase();
  document.getElementById('namebox').value = y;
  var xhr = new XMLHttpRequest();
  xhr.open('POST', window.location.protocol+"//"+window.location.host+"/signin/google");
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.onload = function(){
    console.log("sent to server");
    console.log('Received from server: ' + xhr.responseText);
  };
  xhr.send('idtoken=' + id_token);
}
      function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {

     console.log('User signed out.');
     document.getElementById('modal').style.visibility = "visible";
     document.getElementById('signoutbox').style.visibility = "hidden";
     document.getElementById('namebox').style.visibility = "hidden";
    });
    var xhr = new XMLHttpRequest();
    xhr.open('GET', window.location.protocol+"//"+window.location.host+"/signin/google");
    xhr.onload = function(){
      console.log(xhr.responseText);
      document.cookie = "name=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    };
    xhr.send();
  }
  </script>
       
        