<html>

<head>
    <title>Home</title>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
<link href="styles/css/homepage.css" rel="stylesheet">

    </head> 
    <body>
   
{% include 'navigationbar.html' %}
       
               
              <div class = "container">
         <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 
  
  <div class="carousel-inner">
      {% for article in data %}
    <div class="item active">
        <a href="/article/{{article.key().id()}}">
      <img src={{article.picture}} alt="Image not Found">
          
     </a>
         <a href="/article/{{article.key().id()}}">
             <span id="article-span">{{article.headline}}</span></a> 
    </div>
         
      {% endfor %}
      {% for article in adata %}
       <div class="item ">
                            <a href="/article/{{article.key().id()}}"><img src="{{article.picture}}" alt="Image not Found" >
                            </a>
            <a href="/article/{{article.key().id()}}">
                <span id="article-span">{{article.headline}}</span> </a>
                        </div>

  
       
      {% endfor %}
  
              </div>
  
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
              </a></div>
 <!-- Carousel -->
 <div class ="row">
     <div class = "col-md-8">
         <div class = "bigbox">
    
     {% for article in data %}
     <a href ="/article/{{article.key().id()}}">
<img src = "{{article.picture}}">
{{article.headline}}</a>
{% endfor %}
 </div>
         </div>
         <div class ="col-md-4">
             {% for article in cdata %}
 
      <div class = "smallbox">
    
    
     <a href ="/article/{{article.key().id()}}">
{{article.headline}}</a><br>
{{article.sideheadline}}
 </div>{% endfor %}
             </div></div>
 <div class="row">
 <div class = "col-md-6">
    <div class = "bigbox">
    
     {% for article in ddata %}
     <a href ="/article/{{article.key().id()}}">
<img src = "{{article.picture}}">
{{article.headline}}</a>
{% endfor %}
 </div></div>
 <div class = "col-md-3">
  {% for article in adata %}
 
      <div class = "smallbox">
    
    
     <a href ="/article/{{article.key().id()}}">
<img src = "{{article.picture}}">
{{article.headline}}</a>

 </div>{% endfor %}</div>
 <div class = "col-md-3">
  {% for article in bdata %}
 
      <div class = "smallbox">
    
    
     <a href ="/article/{{article.key().id()}}">
<img src = "{{article.picture}}">
{{article.headline}}</a>

 </div>{% endfor %}</div></div>
        </div>
       
  {% include 'footer.html' %} 
<script>
	$('.carousel').carousel({
		interval: 3000
	})
    
</script>


  </body>
</html>