<html>

<head>
	<title>Home</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link href="styles/css/homepage.css" rel="stylesheet">

</head> 
<body>

	{% include 'navigationbar.html' %}


	<div class="container-fluid">

		<div class="row">
			<div class = "col-lg-6">
				{% for article in data1 %}

				<div class = "big-box">


					<a href ="/news/{{article.key().id()}}">

						<img src = "{{article.picture}}"></a><span><h2>{{article.headline}}</h2></span>

					</div>
					{% endfor %}
				</div>
				<div class = "col-lg-6">
					<div class = "row">

						{% for article in data2 %}
						<div class = "col-lg-6">
							<div class = "small-box">


								<a href ="/news/{{article.key().id()}}">

									<img src = "{{article.picture}}"></a><span><h3>{{article.headline}}</h3></span>								</div>
								</div>
								{% endfor %}
							</div><br>
							<div class = "row">

								{% for article in data3 %}
								<div class = "col-lg-6">
									<div class = "small-box">


										<a href ="/news/{{article.key().id()}}">

											<img src = "{{article.picture}}"></a><span><h3>{{article.headline}}</h3></span>

										</div> 
										</div>
										{% endfor %}
									</div>
									</div>

								</div>


							</div>

							<div class="col-lg-6 col-lg-offset-3">
								<ul class="pagination">
								{% for i in range(1,total_pages+1) recursive %}
								{% if i==page %}
								<li class="active"><a href="/?page={{i}}">{{i}}</a></li>
								{% else %}
								<li><a href="/?page={{i}}">{{i}}</a></li>
								{% endif %}
								{% endfor %}
								</ul>
							</div>
							{% include 'footer.html' %} 
							<script>
								$('.carousel').carousel({
									interval: 3000
								})

							</script>


						</body>
						</html>