<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="msvalidate.01" content="4094A6CEBCABE61C46A8897AC6238E39" />
	<title>Home</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link href="styles/css/homepage.css" rel="stylesheet">
<script src="/jsfiles/js/jquery.js"></script>

<script type="text/javascript">
	var page = 2;
	var flag = 0;
	function load_page_first(){
		var temp = parseInt(window.location.search.split('=')[1]);
		if (temp){
			page = temp + 1;
		}
		load_page();
	};
	function load_page()
	{ 
		var xhttp = new XMLHttpRequest();
		
		xhttp.onreadystatechange = function() { //document.getElementById("ls").style.visibility = "hidden";
			
		    if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
		       var response = xhttp.responseText
		    	if (!response){
		       		flag = 1;
				}
		    	else{
					
		       		document.getElementById("articles").innerHTML += xhttp.responseText;
		       		var selector = $("li.active");
					$('.pagination li').removeClass('active');
					selector.next().addClass('active');

				}
		    }
		};
		if(flag==0){
			var host = window.location.origin;
			
			xhttp.open("POST", host, true);
			//document.getElementById("ls").style.visibility = "visible";
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		
			xhttp.send("page="+page); 
        
			page = page + 1;

			
		
		
		}
			
		
	};


</script>
</head> 
<body onload="load_page_first()">

	{% include 'navigationbar.html' %}

	<div itemscope itemtype="http://schema.org/WebSite">
    	<meta itemprop="url" content="http://www.sarcasticfootballer.com/"/>
    </div>
	<div class="container-fluid" id="articles">
		<div class = "col-lg-10"></div>
		<div class = "col-lg-2">
<div class="addthis_inline_follow_toolbox_56y1"></div></div>
<span id = "divtag">Latest</span>								
<hr style= "border: 2px solid #033d3d;margin-top:5px;">
		<div class="row" id = "mainnews" itemscope itemtype="http://schema.org/ItemList">
		<meta itemprop="name" content="Latest">
			<div class = "col-lg-6">
				{% for article in data1 %}

				<div class = "big-box" itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope>
				<meta itemprop="position" content="{{loop.index}}" />
				

					<a itemprop="url" href ="/news/{{article.key().id()}}">

						<img itemprop="image" src = "{{article.picture}}"></a><span itemprop="name"><h2>{{article.headline}}</h2></span>

					</div>
					{% endfor %}
				</div>
				<div class = "col-lg-6">
					<div class = "row">

						{% for article in data2 %}
						<div class = "col-lg-6">
							<div class = "small-box" itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope>
							<meta itemprop="position" content="{{loop.index + 1}}" />


								<a itemprop="url" href ="/news/{{article.key().id()}}">

									<img itemprop="image" src = "{{article.picture}}"></a><span itemprop="name"><h3>{{article.headline}}</h3></span>

								</div>
								</div>
								{% endfor %}
							</div>
							<div class = "row">

								{% for article in data3 %}
								<div class = "col-lg-6">
									<div class = "small-box" itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope>
									<meta itemprop="position" content="{{loop.index + 3}}" />

										<a itemprop="url" href ="/news/{{article.key().id()}}">

											<img itemprop="image" src = "{{article.picture}}"></a><span itemprop="name"><h3>{{article.headline}}</h3></span>

										</div> 
										</div>
										{% endfor %}
									</div>
									</div>

								</div>
								<br>
<span id = "divtag">Popular</span>								
<hr style= "border: 2px solid #033d3d;margin-top:5px;">
<div class = "row" id = "popular" itemscope itemtype="http://schema.org/ItemList">
<meta itemprop="name" content="Popular">
	{% for article in popular %}
	<div class = "col-lg-3">
									<div class = "small-box" itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope>
									<meta itemprop="position" content="{{loop.index}}" />

										<a itemprop="url" href ="/news/{{article.key().id()}}">

											<img itemprop="image" src = "{{article.picture}}"></a><span itemprop="name"><h3>{{article.headline}}</h3></span>

										</div> 
										</div>
										{% endfor %}
	</div>
<br>
						
<span id = "divtag">All news</span>								
<hr style= "border: 2px solid #033d3d;margin-top:5px;">
 <div id="SC_TBlock_249465" class="SC_TBlock"></div> 
</div>
<div class="text-center" id="pages" itemscope itemtype="http://schema.org/ItemList">
<meta itemprop="name" content="Page Numbers" />
								<ul class="pagination">
								{% for i in range(1,total_pages+1) recursive %}
								{% if i==page %}
								<li class="active" itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope><a itemprop="url" href="/?page={{i}}"><span itemprop="name">Page {{i}}</span></a>
	  <meta itemprop="position" content="{{i}}" /></li>
								{% else %}
								<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope><a itemprop="url" href="/?page={{i}}"><span itemprop="name">{{i}}</span></a>
	  <meta itemprop="position" content="{{i}}" /></li>
								{% endif %}
								{% endfor %}
								</ul>
</div>
						

							{% include 'footer.html' %} 
							<script>
								$('.carousel').carousel({
									interval: 3000
								})
								$(document).scroll(function(){
									if($(window).height() == ($(document).height() - $(window).scrollTop()))
									{
										load_page();
									}
								})
							</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5762625c02c749c4"></script> 

						</body>
						<!--<script type="text/javascript">
  (sc_adv_out = window.sc_adv_out || []).push({
    id : "249465",
    domain : "n.ads1-.com"
  });
</script>
<script type="text/javascript" src="//st-n.ads1-.com/js/adv_out.js"></script>-->
						</html>