<div class = "col-xs-12">

            <div class ="row" style ="padding: 5px">
	<div class = "frontpagelogo">
        <div class ="col-sm-4">
           <img class ="fplogo" src = "/images/logo_large.JPG"></div>
        <div class ="col-sm-5"></div>
           <div class ="col-sm-3">
<div class="addthis_horizontal_follow_toolbox"></div>

        </div>

<br>
        
</div>
            </div>
<nav class="navbar navbar-inverse ">
  <div class="container-fluid abc" >

      <ul class="nav navbar-nav ">
        <li><a style = "color:black;font-weight: 800;" href="/" id ="home">HOME</a></li>
       <li><a style = "color:black;font-weight: 800;" href="/teams" id = "teams">TEAMS</a></li>
        </li>
        <li><a  style = "color:black; font-weight: 800;" href="/popular" id = "news">NEWS</a></li>
         
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <!---        <li class="dropdown">
          <a class="dropdown-toggle" style = "color:black;font-weight: 800;"  data-toggle="dropdown" href="#" id="realnews">REAL NEWS<span class="caret"></span> </a>
          <ul class="dropdown-menu" style= "background-color: #ffa300;" >
            <li><a style = "font-weight: 700;color: black;" href="/allnews">ALL NEWS</a></li>
            <li><a style = "font-weight: 700;color: black;" href="/eplnews">PREMIER LEAGUE</a></li>
            <li><a style = "font-weight: 700;color: black;" href="/uclnews">CHAMPIONS LEAGUE</a></li>
              <li><a style = "font-weight: 700;color: black;" href="/Internationalnews">INTERNATIONAL</a></li>
          </ul>
        </li>-->
       
        <li><a   style = "color:black;font-weight: 800;"  href="/about" id="about">ABOUT</a></li>
        <li id="modal">{% include 'modal.html' %}</li>
         <input id = "namebox" type = "text" value = "" readonly>        <li> <a href="#" id="signoutbox" onclick="signOut();">SIGN OUT</a>
          </li>
          <li> <a style = "color:black;font-weight: 800;visibility: hidden;" href="#" id="fbsignoutbox" onclick="fbsignOut();">SIGN OUT</a>
          </li>
      </ul>
    
  </div>
</nav>
<script type="text/javascript">

var uri = window.location.pathname.split('/');
switch(uri[1])
{
  case 'teams': document.getElementById('teams').className += 'active';
          break;
  case 'popular': document.getElementById('popular').className += 'active';
          break;    
  case 'news': document.getElementById('news').className += 'active';
          break;   
  case 'allnews': document.getElementById('realnews').className += 'active';
          break; 
  case 'eplnews': document.getElementById('realnews').className += 'active';
          break; 
  case 'uclnews': document.getElementById('realnews').className += 'active';
          break; 
  case 'Internationalnews': document.getElementById('realnews').className += 'active';
          break;
  case 'about': document.getElementById('about').className += 'active';
          break; 
  case '': document.getElementById('home').className += 'active';
          break ;
}
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5762625c02c749c4"></script>