<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>{{data.headline}}</title>


<!--facebook meta tags-->
      <meta property="og:url"           content="{{url}}" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="<b>{{data.headline}}</b>" />
      <meta property="og:description"   content="{{data.sideheadline}}" />
      <meta property="og:image"         content="{{data.picture}}" />
       {% include 'head.html' %}
        <meta name="description" content="chart created using amCharts live editor" />

		<!-- amCharts javascript sources -->
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/black.js"></script>

		<!-- amCharts javascript code -->
		<script type="text/javascript">
    var chart;
    function makechart(){
			chart = AmCharts.makeChart("chartdiv",
				{
					"type": "pie",
					"angle": 60,
					"balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
					"depth3D": 0,
					"labelRadius": 30,
					"labelText": "[[title]] - [[percents]]%",
					"startAngle": 0,
					"baseColor": "#FF5500",
					"pullOutEffect": "easeInSine",
					"startEffect": "easeOutSine",
					"titleField": "category",
					"valueField": "column-1",
					"theme": "black",
					"allLabels": [],
					"balloon": {},
					"titles": [],
					"dataProvider": [
						{
							"category": "YES",
							"column-1": {{yes}}
						},
						{
							"category": "NO",
							"column-1": {{no}}
						}
					]
				}
			);
    }
		</script>
    </head>
    <body onload="check()">
    
           {% include 'navbar.html' %}
        
  



<div class ="container">
    <div class="col-md-9">

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
     

   <div class="g-signin2" data-onsuccess="onSignIn" style="visibility: hidden"></div>


   <div id="fb-root"></div>
  <script>

function read_cookie(key)
{
    var result;
    return (result = new RegExp('(?:^|; )' + encodeURIComponent(key) + '=([^;]*)').exec(document.cookie)) ? (result[1]) : null;
}
function check()
{
if (read_cookie("vote"))
{
  document.getElementById('voteform').style.visibility = "hidden";
  document.getElementById('resultsbox').style.visibility = "visible";
  makechart();
}
}

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '945733035525846',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));




  //to send to the server 
  function sendserver(){
    var value;
    if (document.getElementById('yes_form').checked)
        value = 1;
    else if (document.getElementById('no_form').checked)
        value =0;
    else
    {
        alert("please choose yes/no");
        window.location.reload();
      }
    document.getElementById('resultsbox').style.visibility = "visible";
    document.getElementById('voteform').style.visibility = "hidden";
    var xhr = new XMLHttpRequest();
    xhr.open('POST',window.location.href);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function(){
        console.log("sent to server");
        console.log('Received from server: ' + xhr.responseText);
        var ans = xhr.responseText;
        ans = ans.split(',');
        makechart();
        var data =[
            {
              "category": "YES",
              "column-1": ans[0]
            },
            {
              "category": "NO",
              "column-1": ans[1]
            }
          ]; 
        chart.dataProvider = data; 
        chart.validateData();
    };
    xhr.send('value=' + value);
  }
</script>

         <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet">
Tweet</a>
  <!-- Your share button code -->
  <div class="fb-share-button" 
    data-href="{{url}}" 
    data-layout="button_count">
  </div>


            <div class ="NewsTemp">
                <div class = "row">
                    <div class = "article-sideheadline1">{{data.headline}}</div></div>
    <div class = "article-created">{{data.created}}</div>
  <div class = "article-author">by {{data.author}}</div>
  <br><br>
    <div class ="row"> <div class = "newstemp-picture"><img class = "hp1" src="{{data.picture}}" alt= "Image not Found" style = "width: 95%; height: 400"></div></div>
                <div class = "row"><div class = "article-sideheadline">{{data.sideheadline}}</div></div>
        <div class = "row"><div class = "article-content">{{data.content | safe}}</div></div>
       <div class ="votingbox" id="voteform">
           
           WAS THIS NEWS SARCASTIC? <br>
           <form >
           
           <input type = "radio" name ="value" id="yes_form" value = 1 required> YES <br>
           <input type = "radio" name ="value" id= "no_form" value = 0 required> NO<br>
           <input type = "button" value = "VOTE NOW" onclick="sendserver()">
         </form>
                </div>


           <div class="resultsbox" id="resultsbox" style="visibility:hidden">
               WAS THIS NEWS SARCASTIC?
              <div id="chartdiv" style="width: 100%; height: 400px; background-color: #000000;"></div>
            
           </div>
                
        </div>
    </div>
    <div class ="col-sm-3">
        <br>
        <div class = "article-headline">YOU MAY ALSO LIKE</div>
           <div class = "mostpop">
        
        {% for article in adata %}
               <div class = "youmayalsolike"><a href ="/news/{{article.key().id()}}">{{article.headline}}</a></div>
         <div class = "article-picture"><a href ="/news/{{article.key().id()}}"><img class= "hp1" src="{{article.picture}}" alt= "Image not Found" style = "width: 100%; height: 400; align: center;"></a></div>
               <br><div class = "article-created">Posted on {{article.created}}</div>
               <hr style= "border: 1px solid #515151;width: 95%;">
        {% endfor %}
        </div></div>
</div> 
        
        <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
     </body>
    
</html>
<!-- Was this news sarcastic<br>
              YES <div class="answeryes" id="yes" style= " width : {{yes}}%" >
               a
               </div><br>
           NO <div class="answerno" id="no" style= " width : {{no}}%" >
               a
               </div>-->