<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>{{data.headline}}</title>

<!--facebook meta tags-->
      <meta property="og:url"           content="{{url}}" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="<b>{{data.headline}}</b>" />
      <meta property="og:description"   content="{{data.sideheadline}}" />
      <meta property="og:image"         content="{{data.picture}}" />
       {% include 'head.html' %}
    </head>
    <body >
    
           {% include 'navbar.html' %}
        
  



<div class ="container">
    <div class="col-sm-9">

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
     

   <div class="g-signin2" data-onsuccess="onSignIn" style="visibility: hidden"></div>


   <div id="fb-root"></div>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '945733035525846',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));




  //to send to the server 
  function sendserver(value){
    var xhr = new XMLHttpRequest();
    xhr.open('POST',window.location.href);
    xhr.onload = function(){
        console.log("sent to server");
        console.log('Received from server: ' + xhr.responseText);
    };
    xhr.send('value=' + value);
  }
</script>

         <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet">
Tweet</a>
  <!-- Your share button code -->
  <div class="fb-share-button" 
    data-href="{{url}}" 
    data-layout="button_count">
  </div>


            <div class ="NewsTemp">
                <div class = "row">
                    <div class = "article-sideheadline1">{{data.headline}}</div></div>
    <div class = "article-created">{{data.created}}</div>
  <div class = "article-author">by {{data.author}}</div>
  <br><br>
    <div class ="row"> <div class = "newstemp-picture"><img class = "hp1" src="{{data.picture}}" alt= "Image not Found" style = "width: 95%; height: 400"></div></div>
                <div class = "row"><div class = "article-sideheadline">{{data.sideheadline}}</div></div>
        <div class = "row"><div class = "article-content">{{data.content | safe}}</div></div>
       <div class ="votingbox">
           
           Was this news sarcastic? <br>
           <form method ="post">
           
           <input type = "radio" name ="value" value = 1> YES <br>
           <input type = "radio" name ="value" value = 0> NO<br>
           <input type = "submit" value = "VOTE NOW">
                </div>
        </div>
    </div>
    <div class ="col-sm-3">
        <br>
        <div class = "article-headline">YOU MAY ALSO LIKE</div>
           <div class = "mostpop">
        
        {% for article in adata %}
               <div class = "youmayalsolike"><a href ="/news/{{article.key().id()}}">{{article.headline}}</a></div>
         <div class = "article-picture"><a href ="/news/{{article.key().id()}}"><img class= "hp1" src="{{article.picture}}" alt= "Image not Found" style = "width: 100%; height: 400; align: center;"></a></div>
               <br><div class = "article-created">Posted on {{article.created}}</div>
               <hr style= "border: 1px solid #515151;width: 95%;">
        {% endfor %}
        </div></div>
</div> 
        
        <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
     </body>