<br><br>
<div class="row">
	<div class = "col-lg-6">
		{% for article in data1 %}

		<div class = "big-box">


			<a href ="/news/{{article.key().id()}}">

				<img src = "{{article.picture}}"></a><h2><span>{{article.headline}}</span></h2>

			</div>
			{% endfor %}
		</div>
		<div class = "col-lg-6">
			<div class = "row">

				{% for article in data2 %}
				<div class = "col-lg-6">
					<div class = "small-box">


						<a href ="/news/{{article.key().id()}}">

							<img src = "{{article.picture}}"></a><h3><span>{{article.headline}}</span></h3>

						</div>
					</div>
					{% endfor %}
				</div><br>
				<div class = "row">

					{% for article in data3 %}
					<div class = "col-lg-6">
						<div class = "small-box">


							<a href ="/news/{{article.key().id()}}">

								<img src = "{{article.picture}}"></a><h3><span>{{article.headline}}</span></h3>

							</div> 
						</div>
						{% endfor %}
					</div>
				</div>
</div>