<br><br>
<div class="row" itemscope itemtype="http://schema.org/ItemList">
	
		{% for article in data1 %}
<div class = "col-lg-4">
	<div class = "small-box" itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope>
	<meta itemprop="position" content="{{loop.index}}" />
        	<a itemprop="url" href ="/news/{{article.key().id()}}">

				<img itemprop="image" src = "{{article.picture}}"></a><span itemprop="name"><h3>{{article.headline}}</h3</span>
</div></div>
{% endfor %}

</div></div>