<html>

<head>
    <title>Facts</title>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
<link href="styles/css/facts.css" rel="stylesheet">

    </head> 
    <body>
   
{% include 'navigationbar.html' %}
    <h2 style="color:#008080;"><center>Polls Upload</center></h2><br><br>
<center><form  name = "polls" method = "post" style = "align: center;font-size:20px;color:#008080;" novalidate>
Question <input style = "font-size: 20px;" type = "text" name = "question"></br><br>

    Winner:<input type = "text" name = "winner"></br><br>
Picture Link <input type = "text" name = "picture"></br><br>
Players <input type = "text" name = "players"></br><br>
Votes <input type = "text" name = "votes"></br><br>
<br>

<input type="submit"></center>
</form>
</body>
</html>

</body>
</html>