<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#008080" />
    <title>Polls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
<link href="styles/css/polls.css" rel="stylesheet">
<script src="/jsfiles/js/jquery.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
   

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      {% for poll in pdata1 %}
         google.charts.setOnLoadCallback(a{{poll.key.id()}});
      function a{{poll.key.id()}}()
      {
        
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Player');
        data.addColumn('number', 'Votes');
        data.addRows({{poll.votelist|safe}});

        // Set chart options
        var options = {'title': '{{poll.question}}',                  
                       'legend': 'right',
                       pieHole: 0.4,colors: ['#008080','#d56100']};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById({{poll.key.id()}}));
        chart.draw(data, options);
      }{% endfor %}
    </script>
    </head> 
    <body>
   
{% include 'navigationbar.html' %}
<div class = "container-fluid">
  <div class = "col-lg-10"></div>
		<div class = "col-lg-2">
<div class="addthis_inline_follow_toolbox_56y1"></div></div>
{%for poll in pdata1%}
<div class = "row">
<div class = "col-lg-12">
<h2 class = "question">{{poll.question}}</h2><br>

<div class = "pollpicture col-lg-7">
  
<img src = "{{poll.picture}}" style = "width:100%"><br>

</div>
<div class = "pollright col-lg-5">
  <div class = "pollwinner" ><h2 class = "winner">{{poll.winner}}</h2></div>
  <div id="{{poll.key.id()}}" class="pollgraph"></div>
  
 </div> </div></div>{% endfor %}</div>
 {% include 'footer2.html' %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5762625c02c749c4"></script> 
{% include 'footer.html' %} 


<script type="text/javascript">
var infolinks_pid = 2940772;
var infolinks_wsid = 0;
</script>
<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>

</body>
</html>