<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Teams</title>
        {% include 'head.html' %}</head>
<script>
   
 function load_dataArsenal()
    {
         document.cookie = "teamcookie =Arsenal";
        document.getElementById("Teamsheet").style.visibility = "visible";
         document.getElementById("closebutton").style.visibility = "visible";
        document.getElementById("Teamsheet").innerHTML = '<object type="text/html" data="/teamsheet " ></object>'
       
        
    }
             function load_dataChelsea()
    {
         document.cookie = "teamcookie =Chelsea";
        document.getElementById("Teamsheet").style.visibility = "visible";
         document.getElementById("closebutton").style.visibility = "visible";
        document.getElementById("Teamsheet").innerHTML = '<object type="text/html" data="/teamsheet" ></object>'
        
    }
     function load_dataLiverpool()
    {
         document.cookie = "teamcookie =Liverpool";
        document.getElementById("Teamsheet").style.visibility = "visible";
         document.getElementById("closebutton").style.visibility = "visible";
        document.getElementById("Teamsheet").innerHTML = '<object type="text/html" data="/teamsheet" ></object>'
        
    }
    function load_dataManchesterUnited()
    {
         document.cookie = "teamcookie =ManchesterUnited";
        document.getElementById("Teamsheet").style.visibility = "visible";
         document.getElementById("closebutton").style.visibility = "visible";
        document.getElementById("Teamsheet").innerHTML = '<object type="text/html" data="/teamsheet" ></object>'
        
    }
    function load_dataBarcelona()
    {
        document.cookie = "teamcookie =Barcelona";
        document.getElementById("Teamsheet").style.visibility = "visible";
         document.getElementById("closebutton").style.visibility = "visible";
        document.getElementById("Teamsheet").innerHTML = '<object type="text/html" data="/teamsheet" ></object>';
        
    }
    function load_dataRealMadrid()
    {
        document.cookie = "teamcookie=RealMadrid";
        document.getElementById("Teamsheet").style.visibility = "visible";
         document.getElementById("closebutton").style.visibility = "visible";
        document.getElementById("Teamsheet").innerHTML = '<object type="text/html" data="/teamsheet" ></object>';
        
    }
    function load_dataBayernMunich()
    {
        document.cookie = "teamcookie =BayernMunich";
         document.getElementById("closebutton").style.visibility = "visible";
        document.getElementById("Teamsheet").style.visibility = "visible";
        document.getElementById("Teamsheet").innerHTML = '<object type="text/html" data="/teamsheet" ></object>';
        
    }
    function load_dataManchesterCity()
    {
        document.cookie = "teamcookie =ManchesterCity";
        document.getElementById("closebutton").style.visibility = "visible";
        document.getElementById("Teamsheet").style.visibility = "visible";
        document.getElementById("Teamsheet").innerHTML = '<object type="text/html" data="/teamsheet" ></object>';
        
    }
    function closesheet()
    {
        
        document.getElementById("Teamsheet").style.visibility = "hidden"
        document.getElementById("closebutton").style.visibility = "hidden";
        
    }
</script>
</head>
    <body >
           
       
         {% include 'navbar.html' %}
       
         
           
     <div class = "container">   
         <div class="g-signin2" data-onsuccess="onSignIn" style="visibility: hidden"></div>

            <div id ="screen" >
                
        
     <div class = "col-sm-8">
            
         
              <div class="row">
                  <div class="col-sm-3">
         <div   style ="position: relative; " > 
             <a href = "#" onclick="load_dataArsenal()" >
         <img class="img-circle" src="/images/arsenal.jpg"  height = "150" width = "150" alt = "Image not found ">
             </a>
            </div>
                  </div>
             
 <div class="col-sm-3">
        <div  style ="position: relative; ">
             <a href ="#" onclick="load_dataChelsea()" >
            <img class="img-circle" src="/images/chelsea.jpg" height = "150" width = "150" alt = "Image not found ">
            </a>
        </div>
                </div>
        <div class="col-sm-3">
  
        <div  style ="position: relative;">
            <a href ="#" onclick="load_dataManchesterUnited()" >
            <img class="img-circle" src="/images/manchesterunited.png " height = "150" width = "150" alt = "Image not found ">
            </a>
        </div>
                </div>
    
   <div class = "col-sm-3">
        <div  style ="position: relative;">
             <a href ="#" onclick="load_dataManchesterCity()" >
            <img class="img-circle" src="/images/manchestercity.png " height = "150" width = "150" alt = "Image not found ">
            </a>
        </div>
                </div>
            
                
        </div>
            
     <div class="row">
         
                  <div class="col-sm-3">
        <div  style ="position: relative;" >
            <a href ="#" onclick="load_dataLiverpool()" >
            <img class="img-circle" src="/images/liverpool.jpg" height = "150" width = "150" alt = "Image not found ">
            </a>
        </div>
    
         </div>
         <div class="col-sm-3">
        <div  style ="position: relative;">
            <a href ="#" onclick="load_dataBayernMunich()" >
            <img class="img-circle" src="/images/bayern.jpg" height = "150" width = "150" alt = "Image not found ">
            </a>
        </div>
         </div>
    
        
  
        <div class="col-sm-3">
        <div style ="position: relative;">
            <a href ="#" onclick="load_dataRealMadrid()" >
            <img class="img-circle" src="/images/realmadrid.jpg" height = "150" width = "150" alt = "Image not found ">
            </a>
        </div>
         </div>
    <div class="col-sm-3">
        <div style ="position: relative;">
            <a href ="#" onclick="load_dataBarcelona()" >
            <img class="img-circle" src="/images/barcelona.jpg" height = "150" width = "150" alt = "Image not found ">
            </a>
        </div>
            </div>
         </div>
                </div>
                <div class= "col-sm-4">

                    <div class = "closeX">
                                      <button id= "closebutton" onclick="closesheet()">X</button>
                    </div> 
                                     <div class ="squad" id ="Teamsheet" style ="position: relative;height: 600px;width: 100%">      
                    </div>
                                  

                </div>
                
               
        </div>
        </div>
  
      
    
        
        <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
            
    
</html>
