<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/Project.css" />


<script>
function myFunction(jsData) 
    {
    var out = "";
    var i;
    
       var tr, td;
    tbody = document.getElementById(z);
         document.getElementById(z).style.fontFamily = "Calibri,serif";
    document.getElementById(z).style.fontWeight = "900";
    document.getElementById(z).style.fontVariant = "small-caps";
    document.getElementById(z).style.fontStyle = "oblique";
     document.getElementById(z).style.float = "center";
    
    for (var i = 0; i < jsData.length; i++)
    {
        tr = tbody.insertRow(tbody.rows.length);
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = jsData[i].Name;
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = jsData[i].Country;
     
        
    }
  
    }

</script>
    <script>
        function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length,c.length);
        }
    }
    return "";
}
        var x = getCookie("teamcookie")
        y = "/jsfiles/ArsenalPlayers.js";
        z=  "arsenal"
        
        if(x=="Barcelona")
            {
               z = "barcelona";
                y = "/jsfiles/BarcelonaPlayers.js";
                
            }
        else if(x=="RealMadrid")

            {
                z = "realmadrid"
                y = "/jsfiles/RealMadridPlayers.js"
            }
        else if(x=="Arsenal")

            {
                z = "arsenal"
                y = "/jsfiles/ArsenalPlayers.js"
            }
        else if(x=="BayernMunich")

            {
                z="bayern"
                y = "/jsfiles/BayernMunichPlayers.js"
            }
        else if(x=="ManchesterCity")

            {
                z = "mancity"
                y = "/jsfiles/ManchesterCityPlayers.js"
            }
        else if(x=="Chelsea")

            {
                z ="chelsea"
                y = "/jsfiles/ChelseaPlayers.js"
            }
        else if(x=="ManchesterUnited")

            {
                z = "manutd"
                y = "/jsfiles/ManchesterUnitedPlayers.js"
            }
        else if(x=="Liverpool")

            {
                z = "liverpool"
                y = "/jsfiles/LiverpoolPlayers.js"
            }
    </script>
 <script id="display"></script>
<script type="text/javascript">
    
    document.getElementById('display').src = y;
</script> 
    </head>
<body style="background: none; overflow: hidden;">

    <table id="barcelona" >

    </table>
    <table id = "realmadrid">
    </table>
    <table id = "arsenal">
    </table>
    <table id = "liverpool">
    </table>
    <table id = "chelsea">
    </table>
    <table id = "manutd">
    </table>
    <table id = "mancity">
    </table>
    <table id = "bayern">
    </table>
    
<div  id="id01"></div>
</body>
</html>
