.slider-pro {
   font-size: 14px;
    text-align: left;
    font-family:'Fjalla One', sans-serif;
    font-weight: 700;
   background-color: black;

}





.links {
	text-align: left;
	margin-top: 10px;
}

.sp-slides
{
    height: 50%;
}

#example5 .sp-thumbnail-image-container {
	width: 100px;
	height: 80px;
	overflow: hidden;
	float: left;
}



#example5 .sp-thumbnail-text {

    width: 150px;

    float: right;
    padding: 8px;
    background-color: #000000;
   
}

#example5 .sp-thumbnail-title {
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #ffa500;
   
}



@media (max-width: 500px) {
	#example5 .sp-thumbnail {
		text-align: left;
        background-color: black;
        height: 50px;
	}

   
	#example5 .sp-thumbnail-image-container {
		display: none;
	}

	#example5 .sp-thumbnail-text {
		width: 150px;
     
	}

	#example5 .sp-thumbnail-title {
		font-size: 12px;
		text-transform: uppercase;
	}

	
}
    .sp-caption-container
    {
    font-size: 20px;
    text-align: left;
    font-family:'Fjalla One', sans-serif;
    font-weight: 700;
    color: #ffa500;
   background-color: black;
    }
      .sp-caption
    {
    font-size: 20px;
    text-align: left;
    font-family:'Fjalla One', sans-serif;
    font-weight: 700;
    color: #ffa500;
   background-color: black;
    }